services:
  hyperhdr:
    image: umuugg/hyperhdr-ha-aarch64:latest
    container_name: hyperhdr
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /opt/dumb/data/hyperhdr:/config
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
    # Uncomment if using a serial/USB LED controller:
    # devices:
    #   - /dev/ttyUSB0:/dev/ttyUSB0
    #   - /dev/ttyACM0:/dev/ttyACM0
    restart: unless-stopped

  threadfin:
    image: mgoerentz/threadfin:latest
    container_name: threadfin
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - THREADFIN_PORT=34400
    volumes:
      - /opt/dumb/data/threadfin:/home/threadfin/conf
    restart: unless-stopped

  dumb:
    image: iampuid0/dumb:latest
    container_name: dumb
    stdin_open: true
    tty: true
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    network_mode: host
    volumes:
      - /opt/dumb/config:/config
      - /opt/dumb/data:/data
      - /opt/dumb/log:/log
    restart: unless-stopped
    shm_size: "128mb"
    stop_grace_period: 30s
